---
layout: default
---
<!-- Start Hero -->
<div class="hero container-fluid" style="background: url('{{ site.baseurl }}/img/{{ site.hero.hero_img }}') no-repeat center; background-size: cover; height: 300px;">
    <div class="hero-content">
    	<div class="container-fluid">
    	    <div class="hero-content-inner">
    	        <h1>{{ site.hero.hero_title }}</h1>
    	        <p>{{ site.hero.hero_description }}</p>
    	    </div>
    	</div>
    </div>
</div>
<!-- End Hero -->

<!-- Start About -->
<div id="about" class="about">
    <div class="container-fluid">
        <h2 class="section-title">About Us</h2>
        <div class="row">
            <div class="col-md-6">
                <h3>Welcome to INES</h3>
                <p>Site do projeto Engenharia de Software para Cidades Inteligentes (ESCIn), PRONEX-FACEPE-APQ 0388-1.03/14, do Instituto Nacional de Ciência e Tecnologia para Engenharia de Software (<a href="http://www.ines.org.br/">INES</a>).</p>
                <h4>Repository</h4>
                <div class="col-md-2 col-sm-offset-1" style="padding-bottom: 20px;">
                    <a href="https://github.com/ines-escin/"><img src="img/about/repo.svg" style="width: 40px; height: 40px"></a>
                </div>
            </div>
            <div class="col-md-6">
                <h4>Partners</h4>
                <div class="row">
                    <div class="col-md-4" style="display: inline-block;"><a href="http://www.cin.ufpe.br"><img src="img/about/ufpe.png" alt="..."><a/></div>
                    <div class="col-md-4" style="display: inline-block;"><a href="http://www.ufrpe.br"><img src="img/about/ufrpe.png" alt="..."></a> </div>
                    <div class="col-md-4" style="display: inline-block;"><a href="http://www.cesar.org.br"><img src="img/about/cesar.png" alt="..."></a></div>
                </div>
                <div class="row">
                    <div class="col-md-3" style="display: inline-block;"><a href="http://www.facape.br/inicio.aspx"><img src="img/about/facape.png" alt="..."></a></div>
                    <div class="col-md-5" style="display: inline-block;"><a href="http://www.pe.senai.br/"><img src="img/about/senai.png" alt="..."></a></div>
                    <div class="col-md-4" style="display: inline-block;"><a href="http://ikewai.com/"><img src="img/about/ikewai.png" alt="..."></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About -->

<!-- Start Treatments//Applications -->
<div id="treatments" class="treatments">
    <div class="container-fluid">
        <h2 class="section-title">Applications</h2>

        <div class="row">
            {% for treatment in site.data.treatments %}
                <div class="col-md-6">
                <a href="{{ site.baseurl }}/apps/{{ treatment.link }}">
                    <div class="icon-box" style="border-radius: 2%;">
                        <img class="icon" src="/svg/{{ treatment.icon }}"></img>
                        <h4>{{ treatment.title }}</h4>
                </a>
                        <p>{{ treatment.description }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- End Treatments -->


<!-- Start Our team -->
<div id="team" class="team">
    <h2 class="section-title">Our Team</h2>
    <div class="container-fluid" style="margin-bottom: 45px; margin-top: -15px;">
        <h4 class="team-type">Faculty Members</h4>
        {% for member in site.data.faculty_members %}
        <div class="col-md-3 expandable-box">
            <div class="expandable-box-top">
                <h4>{% if member.lattes %}
                    <a href="{{ member.lattes }}" data-toggle="tooltip" data-placement="top" style = "color: white;">{{ member.name }} <br> {{ member.location }}</a>{% else %} {{ member.name }} <br> {{ member.location }}
                    {% endif %}
                </h4>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="container-fluid" style="margin-bottom: 45px">
        <h4 class="team-type">PhD Students</h4>
        {% for member in site.data.phd_students_members %}
        <div class="col-md-3 expandable-box">
            <div class="expandable-box-top">
                <h4>{% if member.lattes %}
                    <a href="{{ member.lattes }}" data-toggle="tooltip" data-placement="top" style = "color: white;">{{ member.name }} <br> {{ member.location }}</a>{% else %} {{ member.name }} <br> {{ member.location }}
                    {% endif %}
                </h4>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="container-fluid">
        <h4 class="team-type">Undergraduate</h4>
        {% for member in site.data.undergraduate_students_members %}
        <div class="col-md-3 expandable-box">
            <div class="expandable-box-top">
                <h4>{% if member.lattes %}
                    <a href="{{ member.lattes }}" data-toggle="tooltip" data-placement="top" style = "color: white;">{{ member.name }} <br> {{ member.location }}</a>{% else %} {{ member.name }} <br> {{ member.location }}
                    {% endif %}
                </h4>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- End Our team -->

<!-- Start Map -->
<div id="location" class="map" data-zoom="{{ site.map.zoom }}" data-address="{{ site.map.address }}" data-address-details="<img src='{{ site.map.address_details }}'>"></div>
<!--End Map -->
