/* FOOTER
-------------------------------------------------*/
.main-footer {
    @extend %space;
    padding: 0;
    color: $white;
    background: $colorPrimary;
    text-align: center;
    small {
        display: block;
    }
}
