/* TEAM
-------------------------------------------------*/
.presentations {
    @extend %clearfix;
    @extend %space;
    overflow: hidden;
    color: black;
    background: $white;
    h2, h4, h3 {
        color: black;
    }
    h4, h3 {
        padding: 10px 0 0;
        margin: 0;
    }
    .box-top {
        a{
            color: lighten(#3dadb2, 7%);
        }
        border-radius: 3%;
        margin: 0;
        padding: $space;
        background: #f7f7f7;
    }
    .meeting{
        background: darken(#f7f7f7, 3%);
        font-size: 22px;
        margin-bottom: 20px; 
        margin-top: 10px;
        padding-bottom: 10px; 
        text-align: center; 
        text-decoration: none;
        position: relative;
    }
}