---
layout: page
title: Group Members
---
<article>
<div class="members">
<ol>
<h4>Faculty </h4>
{% for member in site.data.faculty_members %}
  <li>
   <h6>
    {{ member.name }}
    <a href="https://github.com/{{ member.github }}">
      <img src="{{ site.url }}/images/octocat-icon.png" width="16px" height="16px" alt="View {{ member.github }}'s code on GitHub"> 
    </a>
   </h6>
  </li>
{% endfor %}
</ol>

<ol>
<h4>PhD Students</h4>
{% for member in site.data.phd_students_members %}
  <li>
   <h6>
    {{ member.name }}
    <a href="https://github.com/{{ member.github }}">
      <img src="{{ site.url }}/images/octocat-icon.png" width="16px" height="16px" alt="View {{ member.github }}'s code on GitHub"> 
    </a>
   </h6>
  </li>
{% endfor %}
</ol>

<ol>
<h4>MSc Students </h4>
{% for member in site.data.msc_students_members %}
  <li>
   <h6>
    {{ member.name }}
    <a href="https://github.com/{{ member.github }}">
      <img src="{{ site.url }}/images/octocat-icon.png" width="16px" height="16px" alt="View {{ member.github }}'s code on GitHub"> 
    </a>
   </h6>
  </li>
{% endfor %}
</ol>
</div>
</article>