---
layout: page
title: Group Members
---
<article>
<div class="members">
<ol>
<h4>Faculty </h4>
{% for member in site.data.faculty_members %}
  <li class="member-box">
    <p><img src="{{ site.baseurl }}/images/user1.png">{% if member.lattes %}
           <a href="{{ member.lattes }}">{{ member.name }}</a>{% else %} {{ member.name }} 
       {% endif %}</p>
    {% if member.flickr %}<a href="https://www.flickr.com/{{ member.flickr }}"><i class="svg-icon-member flickr"></i></a>{% endif %}
    {% if member.github %}<a href="https://github.com/{{ member.github }}"><i class="svg-icon-member github"></i></a>{% endif %}
    {% if member.instagram %}<a href="https://instagram.com/{{ member.instagram }}"><i class="svg-icon-member instagram"></i></a>{% endif %}
    {% if member.linkedin %}<a href="https://www.linkedin.com/in/{{ member.linkedin }}"><i class="svg-icon-member linkedin"></i></a>{% endif %}
    {% if member.pinterest %}<a href="https://www.pinterest.com/{{ member.pinterest }}"><i class="svg-icon-member pinterest"></i></a>{% endif %}
    {% if member.rss %}<a href="{{ site.baseurl }}/feed.xml"><i class="svg-icon-member rss"></i></a>{% endif %}
    {% if member.twitter %}<a href="https://www.twitter.com/{{ member.twitter }}"><i class="svg-icon-member twitter"></i></a>{% endif %}
    {% if member.stackoverflow %}<a href="http://stackoverflow.com/{{ member.stackoverflow }}"><i class="svg-icon-member stackoverflow"></i></a>{% endif %}
    {% if member.youtube %}<a href="https://youtube.com/{{ member.youtube }}"><i class="svg-icon-member youtube"></i></a>{% endif %}
    {% if member.googleplus %}<a href="https://plus.google.com/{{ member.googleplus }}"><i class="svg-icon-member googleplus"></i></a>{% endif %}

 
  </li>
{% endfor %}
</ol>

<ol>
<h4>PhD Students</h4>
{% for member in site.data.phd_students_members %}
  <li class="member-box">
   <h6><p><img src="{{ site.baseurl }}/images/user1.png">{% if member.lattes %}
    
    <a href="{{ member.lattes }}">{{ member.name }}</a>{% else %} {{ member.name }} {% endif %}</p></h6>
    {% if member.flickr %}<a href="https://www.flickr.com/{{ member.flickr }}"><i class="svg-icon-member flickr"></i></a>{% endif %}
    {% if member.github %}<a href="https://github.com/{{ member.github }}"><i class="svg-icon-member github"></i></a>{% endif %}
    {% if member.instagram %}<a href="https://instagram.com/{{ member.instagram }}"><i class="svg-icon-member instagram"></i></a>{% endif %}
    {% if member.linkedin %}<a href="https://www.linkedin.com/in/{{ member.linkedin }}"><i class="svg-icon-member linkedin"></i></a>{% endif %}
    {% if member.pinterest %}<a href="https://www.pinterest.com/{{ member.pinterest }}"><i class="svg-icon-member pinterest"></i></a>{% endif %}
    {% if member.rss %}<a href="{{ site.baseurl }}/feed.xml"><i class="svg-icon-member rss"></i></a>{% endif %}
    {% if member.twitter %}<a href="https://www.twitter.com/{{ member.twitter }}"><i class="svg-icon-member twitter"></i></a>{% endif %}
    {% if member.stackoverflow %}<a href="http://stackoverflow.com/{{ member.stackoverflow }}"><i class="svg-icon-member stackoverflow"></i></a>{% endif %}
    {% if member.youtube %}<a href="https://youtube.com/{{ member.youtube }}"><i class="svg-icon-member youtube"></i></a>{% endif %}
    {% if member.googleplus %}<a href="https://plus.google.com/{{ member.googleplus }}"><i class="svg-icon-member googleplus"></i></a>{% endif %}
   
  </li>
{% endfor %}
</ol>

<ol>
<h4>MSc Students </h4>
{% for member in site.data.msc_students_members %}
  <li class="member-box">
    <h6><p> <img src="{{ site.baseurl }}/images/user1.png">{% if member.lattes %}
       
        <a href="{{ member.lattes }}">{{ member.name }}</a>{% else %} {{ member.name }} {% endif %}</p></h6>
    {% if member.flickr %}<a href="https://www.flickr.com/{{ member.flickr }}"><i class="svg-icon-member flickr"></i></a>{% endif %}
    {% if member.github %}<a href="https://github.com/{{ member.github }}"><i class="svg-icon-member github"></i></a>{% endif %}
    {% if member.instagram %}<a href="https://instagram.com/{{ member.instagram }}"><i class="svg-icon-member instagram"></i></a>{% endif %}
    {% if member.linkedin %}<a href="https://www.linkedin.com/in/{{ member.linkedin }}"><i class="svg-icon-member linkedin"></i></a>{% endif %}
    {% if member.pinterest %}<a href="https://www.pinterest.com/{{ member.pinterest }}"><i class="svg-icon-member pinterest"></i></a>{% endif %}
    {% if member.rss %}<a href="{{ site.baseurl }}/feed.xml"><i class="svg-icon-member rss"></i></a>{% endif %}
    {% if member.twitter %}<a href="https://www.twitter.com/{{ member.twitter }}"><i class="svg-icon-member twitter"></i></a>{% endif %}
    {% if member.stackoverflow %}<a href="http://stackoverflow.com/{{ member.stackoverflow }}"><i class="svg-icon-member stackoverflow"></i></a>{% endif %}
    {% if member.youtube %}<a href="https://youtube.com/{{ member.youtube }}"><i class="svg-icon-member youtube"></i></a>{% endif %}
    {% if member.googleplus %}<a href="https://plus.google.com/{{ member.googleplus }}"><i class="svg-icon-member googleplus"></i></a>{% endif %}
  
  </li>
{% endfor %}
</ol>
<ol>
<h4>Undergraduate Students</h4>
{% for member in site.data.undergraduate_students_members %}
  <li class="member-box">
    <h6><p> <img src="{{ site.baseurl }}/images/user1.png">
        {% if member.lattes %}
        <a href="{{ member.lattes }}">{{ member.name }}</a>{% else %} {{ member.name }} {% endif %}</p></h6>
    {% if member.flickr %}<a href="https://www.flickr.com/{{ member.flickr }}"><i class="svg-icon-member flickr"></i></a>{% endif %}
    {% if member.github %}<a href="https://github.com/{{ member.github }}"><i class="svg-icon-member github"></i></a>{% endif %}
    {% if member.instagram %}<a href="https://instagram.com/{{ member.instagram }}"><i class="svg-icon-member instagram"></i></a>{% endif %}
    {% if member.linkedin %}<a href="https://www.linkedin.com/in/{{ member.linkedin }}"><i class="svg-icon-member linkedin"></i></a>{% endif %}
    {% if member.pinterest %}<a href="https://www.pinterest.com/{{ member.pinterest }}"><i class="svg-icon-member pinterest"></i></a>{% endif %}
    {% if member.rss %}<a href="{{ site.baseurl }}/feed.xml"><i class="svg-icon-member rss"></i></a>{% endif %}
    {% if member.twitter %}<a href="https://www.twitter.com/{{ member.twitter }}"><i class="svg-icon-member twitter"></i></a>{% endif %}
    {% if member.stackoverflow %}<a href="http://stackoverflow.com/{{ member.stackoverflow }}"><i class="svg-icon-member stackoverflow"></i></a>{% endif %}
    {% if member.youtube %}<a href="https://youtube.com/{{ member.youtube }}"><i class="svg-icon-member youtube"></i></a>{% endif %}
    {% if member.googleplus %}<a href="https://plus.google.com/{{ member.googleplus }}"><i class="svg-icon-member googleplus"></i></a>{% endif %}
   
  </li>
{% endfor %}
</ol>
</div>
</article>